div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

div.menuBar {
  background-color: #333366;
  height: 100%;
  padding: 4px 4px 4px 4px;
  text-align: left;
}

div.menuBar a.menuButton {
  background-color: transparent;
  border: 2px solid #D79A5E;
  color: #ffffff;
  cursor: default;
  margin: 1px;
  padding: 2px 6px 2px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
  background-color: #D79A5E;
  border-color: #8F673F #8F673F #8F673F #8F673F;
  color: #000000;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  background-color: #D79A5E;
  border: 2px solid;
  border-color: #D79A5E #D79A5E #D79A5E #D79A5E;
  color: #ffffff;
  top: 1px;
}

div.menu {
  background-color: #E0CB6D;
  border: 1px solid;
  border-color: #8F673F #8F673F #8F673F #8F673F;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #B7A65D;
  color: #000000;
}

div.menu a.menuItem span.menuItemText {}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}
